.statistics {
    align-items: center;
    border: 2px solid yellow;
    background-color: var(--captainAmerica-darkblue);
    display: flex;
    height: 85vh;
    justify-content: center;
    margin-top: 10vh;
}