.favoriteCharacterCard {
    display: flex;
    flex-direction: row;
}

.favoriteCharacterCard__card {
    display: flex;
    background-color: var(--captainAmerica-red);
    color: var(--captainAmerica-white);
    margin: 0.5em;
    width: 100%;
}

.favoriteCharacterCard img {
    height: 10vh;
}

.favoriteCharacterCard__name {
    align-items: center;
    display: flex;
    margin-left: 1.0em;
}

.favoriteCharacterCard__card:hover {
    background-color: black;
    opacity: 0.6;
}

.favoriteCharacterCard__card:hover
.favoriteCharacterCard__remove {
    display: block !important;
    cursor: pointer;
}

.favoriteCharacterCard__remove {
    background-color: black;
    display: none;
    height: 10vh;
    position: absolute;
    width: 50px;
}