.favoritesMapper {
    border-top: 4px solid var(--captainAmerica-gray);
    height: 52vh;
    margin: 0.5em;
    overflow-y: scroll;
}

.favoritesMapper__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.favoritesMapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.favoritesMapper {
    -ms-overflow-style: none;                   /* IE and Edge */
    scrollbar-width: none;                      /* Firefox */
}