.login {
    align-items: center;
    display: flex;
    font-size: 1.0em;
    height: 50vh;
    margin: auto;
    padding-top: 20.0em;
    width: 50%;
}

.login__form {
    align-items: center;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
    gap: 1.0em;
    width: 100%;
}

.login__form input {
    display: block;
    width: 100%;
    height: 25px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.login__error {
    color: red;
}

.login__button {
    background-color: transparent;
    border: 2px solid steelblue;
    border-radius: 0.5em;
    color: steelblue;
    font-size: 1.0em;
    font-family: inherit;
    max-width: 100px;
    padding: 0.5em 0.5em;
}

.login__button:hover {
    cursor: pointer;
    color: white;
    background-color: steelblue;
}