.favoritesMapper {
    border: 2px solid green;
    border-radius: 0.5em;
    flex-grow: 1;
    margin: 0.5em;
}

.favoritesMapper__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.0em;
    height: 100vh;
    list-style-type: none;
    margin: 2.0em 0;
    overflow-y: scroll;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.favoritesMapper__ul::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.favoritesMapper__ul {
    -ms-overflow-style: none;                   /* IE and Edge */
    scrollbar-width: none;                      /* Firefox */
}