.postForm {
    margin: 1.5em 0 0.5em 0.5em;
    border-bottom: 6px solid var(--captainAmerica-gray);
    padding: 1.5em 1.0em 1.5em 0;
}

.postForm__form {
    display: flex;
    flex-direction: column;
}

.postForm__userName {
    color: var(--captainAmerica-gray);
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.postForm__container {
    /*padding: 20px;*/
    display: flex;
}

.postForm__image {
    border-radius: 2.5em;
    height: 5.0em;
    width: 5.0em;
}

.postForm__input {
    background-color: var(--captainAmerica-gray);
    border-radius: 0.5em;
    color: var(--captainAmerica-white);
    font-size: 1.25em;
    margin-left: 1.0em;
    padding-left: 1.0em;
    width: 100%;
}

.postForm__button {
    background-color: var(--captainAmerica-gray);
    border: none;
    border-radius: 0.5em;
    color: var(--captainAmerica-white);
    font-size: 1.0em;
    font-weight: bold;
    height: 3.0em;
    margin-left: auto;
    margin-top: 1.0em;
    text-transform: inherit;
    width: 6.0em;
}