.sidebarNav {
    align-items: center;
    background-color: black;
    display: flex;
    height: 10hv;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
}

.sidebarNav__img {
    height: 10vh;
}

.sidebarNav__menuBars {
    background: none;
    font-size: 3.5vh;
    margin-left: 1.0em;
    margin-right: 2.0em;
}

.sidebarNav__title {
    color: var(--marvelLogo-red);
    font-size: 6vh;
    font-weight: 600;
    margin-left: 0.5em;
}

.sidebarNav__logInOut {
    align-items: center;
    background-color: black;
    border: 2px solid var(--marvelLogo-red);
    border-radius: 0.5em;
    color: var(--marvelLogo-red);
    display: flex;
    font-size: 3vh;
    height: 6vh;
    justify-content: center;
    margin-right: 2.5em;
    position: absolute;
    right: 0;
    width: 18vh;
}

.sidebarNav__button {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.sidebarNav__menu {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: -100%;
    margin-top: 0.0em;
    position: fixed;
    top: 0;
    transition: 850ms;
    width: 30vh;
    /*width: 12.0em;*/
}

.sidebarNav__menu.active {
    left: 0;
    transition: 350ms;
}

.sidebarNav__text {
    align-items: center;
    display: flex;
    height: 7.5vh;
    justify-content: flex-start;
    list-style: none;
    padding: 0.5em 0.0em 0.5em 1.0em;
}

.sidebarNav__text a {
    align-items: center;
    border-radius: 0.5em;
    color: var(--marvelLogo-red);
    display: flex;
    font-size: 3.5vh;
    height: 100%;
    padding: 0 0.75em;
    text-decoration: none;
    width: 95%;
}

.sidebarNav__text a:hover {
    background-color: var(--captainAmerica-darkblue);
}

.sidebarNav__menuItems {
    padding-top: 2.0em;
    width: 100%;
}

.sidebarNav__toggle {
    align-items: center;
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: flex-start;
    width: 100%;
}

span {
    margin-left: 1.5em;
}
