.userProfileCard {
    display: flex;
    flex-direction: row;
    height: 32vh;
    justify-content: space-around;
    margin: 0.5em;
    padding: 1.0em;
}

.userInformation {
    border: 1px solid purple;
    border-radius: 0.5em;
    padding: 1.0em;
    width: 50%;
}

.userInfo {
    border: 1px solid blue;
    border-radius: 0.5em;
    padding: 1.0em;
}

.userProfileCard_imageDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 50%;
}

.userProfileCard_image {
    border-radius: 50%;
    height: 100%;
}